<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCiPNET TERMINAL</title>
    <link rel="stylesheet" href="/css/autoscroll.css">
</head>
<body>
<div class="terminal-wrapper">
    <div class="left-panel">
        <div class="terminal-scroll-area">
            <div id="terminal-output">READY FOR INPUT...</div>
        </div>

        <div class="input-line">
            <span>&gt;</span>
            <input type="text" id="command-input" placeholder="Enter Subject..." autofocus autocomplete="off">
        </div>
    </div>

    <div class="right-panel">
        <div class="top-logo">
            <pre>
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣀⣀⣀⣀⣀⣀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡏⠈⠀⠁⠈⠀⠉⢹⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⢀⣤⠶⠛⠀⠀⠀⠀⠀⠀⠀⠘⠳⠶⣄⡀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⣴⠛⠁⠀⠀⠀⠀⠀⣿⣧⠀⠀⠀⠀⠀⠈⠛⣦⠀⠀⠀⠀⠀
⠀⠀⠀⢠⡞⠋⠀⠀⢀⣤⣶⠿⠟⣿⡟⠻⠷⣦⣄⠀⠀⠀⠙⢷⡀⠀⠀⠀
⠀⠀⢀⡟⠀⠀⠀⣰⡿⠋⠀⠀⠀⣿⡇⠀⠀⠈⠙⣷⣄⠀⠀⠈⢿⡀⠀⠀
⠀⠀⣾⠀⠀⠀⣼⡏⠀⠀⠀⠀⠘⣿⡿⠃⠀⠀⠀⠈⢿⣇⠀⠀⠈⣧⠀⠀
⠀⢰⣿⠀⠀⠀⣿⠃⠀⠀⠀⠀⠀⠘⠁⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⣿⠀⠀
⠀⢸⡷⠀⠀⠀⣿⡆⠀⢀⣶⣷⡖⠀⠀⢶⣶⣆⡀⠀⢸⣿⠀⠀⠀⣿⡀⠀
⣴⠋⠀⠀⠀⢀⣻⣷⡾⠟⠉⠛⠀⠀⠀⠈⠏⠙⠻⢷⣾⣇⠀⠀⠀⠈⢻⣦
⠘⢧⡀⠀⠀⠀⠛⠙⢿⣦⡀⠀⠀⠀⠀⠀⠀⣀⣴⡿⠋⠋⠀⠀⠀⢀⡼⠁
⠀⠘⣧⠀⠀⠀⠀⠀⠀⠛⠿⣧⣤⣤⣤⣤⣿⠿⠛⠀⠀⠀⠀⠀⠀⡿⠃⠀
⠀⠀⠘⢷⣀⣠⣤⣀⠀⠀⠀⠀⠉⠉⠉⠉⠀⠀⠀⠀⣠⣤⣄⣠⡾⠁⠀⠀
⠀⠀⠀⠈⠉⠀⠀⠙⠳⠶⣤⣀⣀⣀⣀⣀⣠⡤⠶⠞⠃⠀⠀⠉⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
            </pre>
            <h3>SITE-19 SECURE SERVER</h3>
        </div>

        <div class="bottom-lore">
            <div class="scrolling-content">
                <p>NEW ADDITION TO DATABASE</p>
                <p>Item #: SCP-093</p>
                <p>Objext class: Euclid</p>
                <p>Special Containment Procedures: See testing document SCP-093-T1 for outline of testing conditions.</p>
                <p>SCP-093 must remain on a mirror at all times and under video surveillance.</p>
                <p>Admittance into the area of SCP-093's containment must be authorized only with proper video recording and subject retrieval procedures in place.</p>
                <p>Any attempt to use SCP-093 outside of an approved test will be dealt with severely, up to and including termination.</p>
                <p>Description: SCP-093 is a primarily red disc carved from a stone composite resembling cinnabar, with circular engravings and unknown symbols carved at 0.5 cm depth around the entire object.</p>
                <p>Deeper cuts are present on SCP-093 with a depth of 1 to 1.5 cm.</p>
                <p>SCP-093 is 7.62 cm in diameter and fits comfortably into most palms without abrasion.</p>
                <p>SCP-093 will change hue when held by a living individual.</p>
                <p>The colors taken by SCP-093 are still being researched to establish a link.</p>
                <p>Current belief holds that the changes depend upon regrets carried by the holder.</p>
                <p>If SCP-093 is removed from a mirror and not held by a person, it will seek out the nearest mirror-like surface.</p>
                <p>SCP-093 has been observed to travel in the largest possible circle while rolling, building up phenomenal speed.</p>
                <p>The mechanism of this acceleration is currently unknown.</p>
                <p>If an obstacle is between SCP-093 and the nearest mirror-like surface, it will use this momentum to punch through the obstacle and continue on its course at this speed.</p>
                <p>It will only stop when a mirror-like surface is contacted.</p>
                <p>Despite tremendous impact velocities, no damage will be dealt to SCP-093 or the mirror.</p>
                <p>Additional Notes: No records exist to clarify the nature of SCP-093's discovery or presence in the Foundation.</p>
                <p>See SCP-093-OD.</p>
                <p>Since no records exist explaining SCP-093's method of containment, a test procedure was initiated to establish why mirrors must be used to contain it.</p>
                <p>The results of SCP-093-T1 lead to the discovery of living beings holding SCP-093 being able to move through mirrors and the series of tests in SCP-093-T2 to ascertain the destination reached through this travel.</p>

            </div>
        </div>
    </div>
</div>

<script src="/js/script.js"></script>
</body>
</html>